// $color_1: forestgreen;
// $background-color_1: green;

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
} */
/* TODO: get shadowDoom connect with style.css (https: //developer.mozilla.org/en-US/docs/Web/API/Web_components/Using_templates_and_slots) */
/* app-room-create.lala::part(box) {
  background-color: #fd8fff;
}

iframe.formResponse {
  width: 100%;
  height: 2vh;
}
iframe.formResponse > body > pre {
  margin: 0!important;
}

html:not(root) iframe > body {
  background: black !important;
}

input:invalid {
  border-color: red;
}
input:optional {
  border-color: gray;
}
input:required {
  border-color: black;
} */
/* form:valid ~ button {
  background-color: var(--light);
} */
/* #formresponse {
  border-color: red;
}

form:hover + #formresponse {
  border-color: aqua!important;
}

form:hover ~ #formresponse {
  border-color: aqua!important;
} */
/* #addRoomForm:hover + #formresponse {
  display: none;
} */
/* button:focus + iframe {
  border-color: green;
} */
/* #one:hover + #two {
  background-color: red;
} */
// @import './css/simple.min.css';
iframe {
  width: 100%;
  height: 5vh;
  background-color: #212121;
}
// button {
//   &:focus {
//     background-color: $background-color_1;
//   }
// }
#formresponse {
  display: block;
}
// form {
//   &:hover {
//     > {
//       #formresponse {
//         display: block;
//       }
//     }
//     ~ {
//       #formresponse {
//         display: block;
//       }
//     }
//     + {
//       #formresponse {
//         display: block;
//       }
//     }
//   }
// }
// a {
//   &:visited {
//     color: $color_1;
//     text-decoration-color: yellowgreen;
//   }
// }
